<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lonm.dp.dpandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ChooseExercise"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExerciseH229"
            android:label="@string/exercise_h229_title"
            android:parentActivityName=".ChooseExercise" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lonm.dp.dpandroid.ChooseExercise" />
        </activity>
    </application>

</manifest>
